{# TODO : manage errors display #}

<form method="POST">
<h3>description</h3>
	<div style="display: none;">{{ todo.id}}</div>
	<input type="text" value="{{ todo.name }}" name="name">
	<input type="submit" value="Valider">
</form>
